<h2>Voici le titre de ton gossip : <%= @gossip.gossip_title %></h2>

<p>Voici le contenu de ton gossip :</p><br/>
<p><%= @gossip.gossip_content %><p/>

<%= link_to "Modifier le gossip", edit_gossip_path, class: "btn btn-lg btn-primary" %>