<h1>Voici le titre de ton gossip : </h1>
<p><%= @gossip.gossip_title %><p/>

<h3>Voici le contenu de ton gossip :</h3>
<p><%= @gossip.gossip_content %><p/>

<%= link_to "Modifier le gossip", edit_gossip_path, class: "btn btn-lg btn-primary" %>
<%= link_to 'Clique pour détruire', @gossip, method: :delete %>